html, body {
    background-color : #6b8cb6; /* #44658c */
    background: -webkit-radial-gradient(#6b8cb6, #3a5474); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#6b8cb6, #3a5474);      /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#6b8cb6, #3a5474);    /* For Firefox 3.6 to 15 */
    background: radial-gradient(#6b8cb6, #3a5474);         /* Standard syntax */
}

html { }

body { }

.hidden { }

#hundredforty h1 { }

div#hundredforty { }

#input-container { }

textarea#note-text { }

img.preview-image { }

div#upload-widget {
    background-color   : rgba(0,0,0,0);
    border             : 3px dashed #6b8cb6;
}

#upload-preview {
    border             : 1px solid #6b8cb6;
    background-color   : rgba(0,0,0,0);
}

.dropzone .dz-preview .dz-image { }

button#btn-sendnote { }

button#btn-loadnew { }

button#btn-more { }


#error-status {
    color               : #c5ab8b;
}

.error { }

img.rss-icon { }

div#category-list { }

div#category-list h4 { }

div#category-list > ul { }

div.note-container {
    border              : 1px solid #44658c;
    border-bottom-color : white;
    border-right-color  : white;
    border-radius       : 4px;
    background-color    : white;

}

div.note-date {
    color               : grey;
}

div.note-data {
 
}


a.boxclose{
    color: #000000;
       
}

.boxclose:before { }

#hint { }

a.hash-tag {
    color           : #6b8cb6;
}


/* Custom Theme Settings */
a {
    color           : #3a5474;
}

.dialog {
    background-color : #6b8cb6; /* #44658c */
    background: -webkit-radial-gradient(#6b8cb6, #3a5474); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#6b8cb6, #3a5474);      /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#6b8cb6, #3a5474);    /* For Firefox 3.6 to 15 */
    background: radial-gradient(#6b8cb6, #3a5474);         /* Standard syntax */
}